:root{
  --light-blue: #e1dde6;
  --light-blue-25: #e1dde666;
  --light-blue-60: #e1dde6aa;
  --dark-blue-70: hsla(268, 15%, 48%, 0.7);
  --lighter-25: #fff4;
  --lighter-60: #fffa;
  --dark-sec: #203;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}

.container{
  width: 80%;
  margin: auto;
  height: 100%;
}
.container-80{
  width: 80%;
  height: 100%;
}
.container-100{
  width: 100%;
  height: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center{
  justify-content: center;
  height:100%;
}
.flex-a-start{
  align-items: flex-start;
}
.flex-a-center{
  align-items: center;
}
.flex-a-end{
  align-items: flex-end;
}
.flex-a-stretch{
  align-items:stretch;
}
.flex-evenly{
  justify-content: space-evenly;
}

.flex-grow{
  flex-grow: 1;
}

.w-100{
  width:100%;
}
.w-80{
  width:80%;
}
.p-0{
  padding:0rem;
}
.p-1{
  padding:0.2rem;
}
.p-2{
  padding:0.5rem;
}
.p-3{
  padding:1rem;
}
.react-icon{
  font-size: large;
}
.button-react-icon{
  margin: 0.2rem 0.2rem;
  border: solid 0.12rem #000;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  transition: 300ms;
}
.button-react-icon:hover{
  background-color: var(--light-blue);
}
.button-block{
  width:50%;
}


.header-main{
  box-shadow: 0 0 1rem var(--dark-blue-70);
}
.nav{
  overflow: hidden;
  height:0;
  transition: 400ms;
}
.nav-shown{
  height: 3rem;
}
.nav-ul{
  list-style: none;
  padding-inline-start: 0;
}
.nav-item{
  cursor: pointer;
  padding: 1rem 2rem;
  color: transparent;
  text-decoration: none;
  transition: 300ms;
}
.nav-shown li a{
  color: #000;
}
.hide{
  opacity:0;
  transition: 1000ms;
}
.show{
  opacity: 1;
}
.nav-item:hover{
  background-color: var(--light-blue-25);
}
.nav-button-scroll{
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  padding: 1rem;
  color:#000;
  text-decoration: none;
  background-color: var(--light-blue-60);
}

#showcase{
  height: 500px;
  width:100vw;
  transition: 500ms;
  position: relative;
}
.showcase-title{
  font-size: 5rem;
}
.showcase-title-small{
font-size:3rem;
}
.showcase-button{
  background-color: transparent;
  border: solid 0.2rem #000;
  border-radius: 0.4rem;
  padding: 0.7rem 1.4rem;
  font-size: 1.5rem;
  color:#000;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
}
.showcase-button:hover{
  background-color: #fff7;
}
.showcase-img-container{
  position: absolute;
  /* background-color: #000; */
  width: 100vw;
  height: 500px;
  overflow: hidden;
  z-index: -1;
}
.showcase-img{
  position:absolute;
  top:50%;
  /* height: 500px; */
  width: 100%;
  /* transform-origin: center; */
  width: auto;
  box-shadow: 0 0 1rem #000;
  transform: translate3d(0,-50%,0);
  opacity: 0;
  transition: 2500ms;
}
.showcase-img-active{
  left:50%;
  transform: translate3d(-50%,-50%,0);
  opacity: 0.5;
}
.showcase-img-inactive{
  left:100%;
}
.showcase-img-deactivated{
  left:-100%;
}


.products-conatiner{
  background-color: #aaa;
}
.product-container{
  width: 40%;
  padding: 2rem;
  background-color: #ffebcd;
}
.product-img{
  max-width: inherit;
  max-height: 20rem;
  
}


.comment-section{
  background-color: var(--light-blue);
}
.comment-form{
  border: none;
  margin: 0.4rem 0.4rem;
  padding: 0.4rem 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem #0032;
}
.comment-form-text{
  height: 3rem;
  /* width:100%; */
}

.comment-container,.sort-container{
  margin: 1rem 0rem;
  padding: 0.4rem 1rem;
  background-color: var(--lighter-25);
  border-radius: 0.4rem;
    box-shadow: 0 0 1rem #0032;
}
.sort-container{
  background-color: var(--lighter-60);
}
.comment-user{
  display: inline-block;
}
.comment-rating{
  display: inline-block;
  margin-left: 1rem;
}
.comment-date{
  font-size: smaller;
  margin-top:0;
  color: #0008;
}
.comment-text{
  background-color: var(--lighter-25);
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem #0031;
}
.footer{
  background-color: var(--dark-sec);
   margin: 0; 
   padding: 3rem; 
}
.alert{
  position: fixed;
  top:0;
  left:0;
  background-color: #00f;
  width:100%;
  height: 100%;
}
