body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  width: 80%;
  margin: auto;
  height: 100%;
}
.container-100{
  width: 100%;
  height: 100%;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-center{
  justify-content: center;
  height:100%;
}
.flex-a-start{
  align-items: flex-start;
}
.flex-evenly{
  justify-content: space-evenly;
}

.flex-grow{
  flex-grow: 1;
}

.w-100{
  width:100%;
}
.w-80{
  width:80%;
}

.nav{
  border-top: solid 1px #0009;
}

.nav-item{
  cursor: pointer;
  padding: 1rem 2rem;
}
ul{
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 1rem;
}
.comment-form{
  border: none;
  margin: 0.4rem 0.4rem;
}
.comment-form-text{
  height: 3rem;
  width:100%;
}
.alert{
  position: absolute;
  top:inherit;
  left:inherit;
  background-color: #00f;
  width:200px;
  height: 200px;
}