:root{
  --light-blue: #e1dde6;
  --light-blue-25: #e1dde666;
  --light-blue-60: #e1dde6aa;
  --dark-blue-70: hsla(268, 15%, 48%, 0.7);
  --lighter-25: #fff4;
  --lighter-60: #fffa;
  --dark-sec: #203;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

.container{
  width: 80%;
  margin: auto;
  height: 100%;
}
.container-80{
  width: 80%;
  height: 100%;
}
.container-100{
  width: 100%;
  height: 100%;
}
.grid-center{
  display: grid;
  place-items: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-start{
  justify-content: start;
}
.flex-evenly{
  justify-content: space-evenly;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-center{
  justify-content: center;
}
.flex-a-start{
  align-items: flex-start;
}
.flex-a-center{
  align-items: center;
}
.flex-a-end{
  align-items: flex-end;
}
.flex-a-stretch{
  align-items: stretch;
}
.flex-a-baseline{
  align-items: baseline;
}
.flex-grow{
  flex-grow: 1;
}
.flex-grow-2{
  flex-grow: 2;
}
.flex-grow-3{
  flex-grow: 3;
}
.text-center{
  text-align: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.w-100{
  width:100%;
  box-sizing: border-box;
}
.w-80{
  width:80% !important;
}
.w-50{
  width:50%;
}
.w-40{
  width:40%;
}
.h-100{
  height:100%;
}
.h-0{
  height: 0 !important;
}
.mt-1{
  margin: 1rem;
}
.my-0{
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.my-1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p-0{
  padding:0rem;
}
.p-1{
  padding:0.2rem;
}
.p-2{
  padding:0.5rem;
}
.p-3{
  padding:1rem;
}
.py-1{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt-10vh{
  padding-top: 10vh;
}
.pr-2rem{
  padding-right: 2rem;
}
.box-sizing-border-box{
  box-sizing: border-box;
}
.react-icon{
  font-size: large;
}
.default-background{
  background-color: #f2dfc2;
  background-image: linear-gradient(#fffc, transparent 70%, #fffc 100%);
}
.full-page{
  /* position: absolute; 
  top:0;
  left:0; */
  /* padding-top: 10vmin; */
  /* padding-bottom: 2rem; */
  /* min-height: 100vh; */
  min-height: 70vmin;
  width: 100%;
  max-width: 100vw;
  z-index: -1;
  overflow: hidden;
}
.hidden{
  /* max-width: 100vw;
  max-height: 100vh; */
  overflow: hidden;
}
.hide{
  opacity:0;
  transition: 1000ms;
}
.show{
  opacity: 1;
}
.transition-400{
  transition: 400ms;
}

.message-error,.message-success{
  box-shadow: inset 0 0 1rem #f00;
  background-color: #f009;
  padding: 1rem 1rem;
  text-align: center;
  margin: 1rem 0;
}
.message-success{
  box-shadow: inset 0 0 1rem #070;
  background-color: #0709;
}

.class-link{
  cursor: pointer;
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transition: 400ms;
}
.class-link:hover{
  color: var(--dark-blue-70);
}
.button-react-icon{
  margin: 0.2rem 0.2rem;
  border: none ;
  border-radius: 0.2rem;
  color:#000;
  padding: 0.2rem 0.4rem;
  white-space: nowrap;
  cursor: pointer;
  transition: 300ms;
  background-color: #fff7;
  box-shadow: inset 0 0 1rem #fff0,0 0 0.1rem hsl(36, 65%, 15%);
}
.button-react-icon:hover{
  box-shadow: inset 0 0 1rem #ffff, 0 0 0.3rem hsl(36, 65%, 15%);
  color: #000;
}
.button-react-icon:active{
  box-shadow: inset 0 0 0.8rem #ffff, 0 0 0.1rem hsl(36, 65%, 15%);
  color: #000;
  /* background-color: #; */
  margin: 0;
  padding: 0.4rem 0.6rem;
  
}

.button-block{
  width:50%;
}
.user-image{
  margin-bottom: 1rem;
  max-width: 100%;
  max-height: 50vmin;
  background-color: #000;
  overflow: hidden;
  box-shadow: 0 0 1rem #0003;
}
/* .user-image{
  position:relative;
  top:-50%; */

  /* max-width: 30rem;
  max-height: 30rem;
  width: auto;
  height: auto; */
/* } */
.user-avatar-big-container{
  position: relative;
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 1rem #0003;
}
.user-avatar-big-container::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}
.user-avatar-big{
 position: absolute;
  width: 100%;
}
/* .user-avatar-big-container{
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 1rem #0003;
}
.user-avatar-big{
  width: 15rem;
  height: 15rem;
} */
.user-avatar-container{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0.2rem #000;
  margin: 0 1rem;
}
.user-avatar{
  position:relative;
  max-width: 2rem;
  max-height: 2rem;
  width: auto;
  height: auto;
  box-shadow: 0 0 1rem #fff;
}
.border-light{
  margin: 0.5rem 0;
  border-top: solid 1px #fff;
  width:100%;
  background: linear-gradient(#0002,transparent 3px);
}
.header{
  width:100%
}
.header:focus{
  background-color:#f00;
}
.header-main{
  background-color: #fff;
  background-image: linear-gradient(#0002, #0000 50%);
  box-shadow: 0 0 1rem var(--dark-blue-70);
  height: 10vh;
}
.nav{
  position:absolute;
  width: 100%;
  background-color: #fff;
  background-image: linear-gradient(#0002, #0000 10%);
  overflow: hidden;
  height:0;
  transition: 400ms;
}
.nav-shown{
  height: 3rem;
  border-bottom: solid 1px var(--light-blue-25)
}
.nav-ul{
  list-style: none;
  padding-inline-start: 0;
}
.nav-item{
  padding: 1rem 2rem;
}
.nav-item:hover{
  background-color: var(--light-blue-25);
}
.nav-shown li a{
  color: #000;
}
.nav-button-scroll{
  position: fixed;
  /* bottom: 3rem;
  right: 3rem; */
  bottom: 5vmin;
  right: 5vmin;
  padding: 2.5vmin;
  color:#000;
  text-decoration: none;
  background-color: var(--light-blue-60);
  z-index: 1000;
}
.nav-button-scroll:active{
  padding: 3vmin;
  /* padding: 1.2rem; */
}
#showcase{
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: 500ms;
  overflow: hidden;
}
.showcase-title{
  font-size: 5rem;
}
.showcase-title-small{
  font-size:3rem;
}
.showcase-button{
  background-color: transparent;
  border: solid 0.2rem #000;
  border-radius: 0.4rem;
  padding: 0.7rem 1.4rem;
  font-size: 1.5rem;
  color:#000;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms;
}
.showcase-button:hover{
  background-color: #fff7;
}
.showcase-img-container{
  margin-top: 5vmin;
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: -1;
}
.showcase-img{
  position:absolute;
  top:50%;
  left:50%;
  height:100%;
  width:fit-content;
  background-color: #fff;
  transform: translate3d(0,-50%,0);
  opacity: 0;
  transition: 2500ms; 
}
.showcase-img-active{
  left:50%;
  transform: translate3d(-50%,-50%,0);
  opacity: 0.5;
}
.showcase-img-inactive{
  left:100%;
}
.showcase-img-deactivated{
  left:50%;
  transform: translate3d(-150%,-50%,0);
}

#about{
  min-height: 90vh;
  background: repeating-linear-gradient( 80deg, #fff 10vw, #f2dfc2 55vw, #f2dfc2 55vw, #fff 100vw );
}
#about-title-container{
  background-image: url('https://images.unsplash.com/photo-1569305633225-d08e7f72cc46?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1335&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30rem auto;
  opacity: 0.8;
  border-radius: 50%;
  width:400px;
  height: 400px;
  box-shadow: 0 0 1rem #999;
}
#about-title{
  display: grid;
  place-items: center;
  height: 400px;
  width: 400px;
  color: #fff;
  font-style: italic;
  text-align: center;
  text-shadow: 0 0 0.4rem #000;
}
#contact{
  background: repeating-linear-gradient(70deg, hsl(36, 55%, 75%)  1vw, #f2dfc2 55vw, #f2dfc2 55vw, hsl(36, 55%, 75%) 100vw );

}

.product-container{
  width: 40%;
  background-color: #ffebcd;
  box-shadow: inset 0 0 5rem #0002;
  padding: 2rem;
  box-sizing: border-box;
  margin:1rem;
}
.product-img{
  max-width: 100%;
  max-height: 20rem; 
}
.product-info-section{
  width:100%
  /* padding: 1rem;   */
  /* padding-top: 0; */
}

.product-small-container{
  width: 30%;
  max-height: 50vh;
}
.product-small-img{
  width: 100%;
}
.list-circle, .list-circle li{
  list-style:circle;
  list-style-position: inside;
}

#projects{
  min-height: 70vh;
  background-image: url('https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80');
  background-position: center;
  box-shadow: inset 0 0 1rem #fff;
}
.projects-container{
  padding: 4rem 1rem;
  background-color: #fffa;
  box-shadow: inset 0 0 1rem #fff;
}
#groups{
  background:radial-gradient(ellipse farthest-corner at 105% 0%,
  hsl(36, 65%, 95%) 30%, hsl(36, 65%, 85%) 50%, #f2dfc2 80%, hsl(35, 65%, 95%) 90% );
  /* background:radial-gradient(ellipse farthest-corner at 105% 0%,
  hsl(36, 45%, 95%), hsl(36, 45%, 75%)  50%, #f2dfc2 80%,hsl(35, 68%, 95%) ); */
}
.bg-radial-tr{
  background:radial-gradient(ellipse farthest-corner at 105% 0%,
  hsl(36, 65%, 95%) 30%, hsl(36, 65%, 85%) 50%, #f2dfc2 80%, hsl(35, 65%, 95%) 90% );
}
.group-container{
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #fff9;
  box-shadow: 0 0 1rem #0002,inset 0 0 1rem #fffb;
}
.group-details-container{
  height:0rem;
  transition:400ms;
  overflow: hidden;
  opacity: 0;
}
.group-details-container-shown{
  border-top: solid 1px #0006;
  height:10rem;
  opacity: 1;
}


.comment-section{
  background-color: #ffebcd;
  background: repeating-linear-gradient(70deg, hsl(36, 55%, 75%)  1vw, #f2dfc2 55vw, #f2dfc2 55vw, hsl(36, 55%, 75%) 100vw );
  padding: 1rem 0;
}
/* .comment-form, */
.default-form{
  border: none;
  margin: 0.4rem 0;
  padding: 0.4rem 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 1rem #0032;
}
.bg-lighter-60{
  background-color: var(--lighter-60);
}
.mr-small{
  margin-right: 3px;
}
.comment-form-text{
  height: 3rem;
}
.upVoted{
  background-color: #7f7;
}
.downVoted{
  background-color: #f77;
}
/* .sort-container, .comment-container,*/
.default-box-container,.default-box-lighter-60,.default-box-container-inner{
  margin: 1rem 0rem;
  padding: 0.4rem 1rem;
  background-color: var(--lighter-25);
  /* border-radius: 0.4rem; */
  box-shadow: 0 0 1rem #0032 ,inset 0 0 1rem #fffa;
}
/* .sort-container, */
.default-box-lighter-60{
  background-color: var(--lighter-60);
}
/* .comment-text, */
.default-box-container-inner{
  /* margin: 1rem 0;
  background-color: var(--lighter-25);
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem #0031,inset 0 0 1rem #fffa; */
  padding: 1.5rem 1rem;
}
.comment-user{
  display: inline-block;
}
.comment-rating{
  display: inline-block;
  margin-left: 1rem;
}
.comment-date{
  font-size: smaller;
  margin-top:0;
  color: #0008;
}

.footer{
  background-color: var(--dark-sec);
   margin: 0; 
   /* padding: 3rem; */
   height: 20vmin; 
}
#alert{
  position: fixed;
  top:0;
  left:0;
  background-color: #fffb;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
}
#alert-title{
  padding:1rem;
  box-shadow: 0 0 0.5rem #fff,inset 0 0 0.5rem #fff;
  background-color: #fffc;
}

@media screen and (max-width: 815px) {
  .nav .flex-row{
    flex-direction: column;
  }
  .nav-shown{
    height: 9rem;
  }
  .nav-li{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .nav-item{
    width: 100%;
    padding: 0;
    text-align: center;
  }
}